// Font-Families import
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

//Import presets
@import 'colors';
@import 'margins';
@import 'fonts&typography';
//clear defaults
* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Sans-serif';
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-menu {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $dark-color-lighten;
  color: $logo-color;
  font-size: 1.4rem;
  padding: $padding-header;

  #logo-tree {
    font-size: 2.8rem;
  }

  h2 {
    font-family: 'Parisienne', 'Poppins', 'Sans-serif';
    font-weight: bolder;
  }

  ul {
    display: flex;
    margin-left: 45%;
    right: $padding-header;
    font-size: $normal-font-size;
  }

  .top-nav li:nth-child(2),
  li:nth-child(4) {
    margin-right: 40px;
  }

  li:last-child {
    display: none;
  }

  li :hover {
    color: $logo-color;
  }

  a {
    color: $dark-color;
  }
}

//footer section
.footer {
  color: $dark-color-lighten;
  background-color: $logo-color;
  font-size: $small-font-size;
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;

    a {
      font-size: $bigger-font-size;
      color: $dark-color-lighten;
    }

    a:hover {
      color: $dark-color;
    }
    li:not(:last-child) {
      margin-right: 50px;
    }
  }
}
//categories section

.categories {
  height: 4rem;
  text-transform: uppercase;
  background-color: $logo-color;
  color: $dark-color;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  h2 {
    font-size: $normal-font-size;
    margin: auto;
    display: none;
    color: $dark-color-lighten;
  }
  h2:hover {
    color: $dark-color;
    cursor: pointer;
  }

  a {
    color: $dark-color;
  }

  ul {
    padding: 0;
    display: flex;

    justify-content: space-around;
    li {
      display: inline-block;
    }
  }
  a:hover {
    color: $dark-color-lighten;
  }
}

//hero section

.hero {
  height: 300px;
  position: relative;
  top: 8rem;
  margin-bottom: 8rem;
  background: linear-gradient(0deg rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('/Wantsome-Final-Project/assets/featured-bg.jpg') no-repeat;
  background-size: cover;
  background-position: 40% 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-family: $logo-font;
    font-size: 3rem;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-color-lighten;
    height: 50%;
    width: 50%;
    border: 2px solid $dark-color-lighten;
    border-radius: 15px;
  }
}

//featured products section
.featured-products {
  margin: 40px 0;
}
.grid-featured {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  background: linear-gradient(0deg rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('/Wantsome-Final-Project/assets/featured-bg.jpg') center no-repeat;
  background-size: cover;
  background-color: $dark-color-lighten;
}

.item {
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: $dark-color-lighten;
}

//media query for mobile
@media screen and(max-width:768px) {
  //header on mq
  header {
    li:not(:last-child) {
      display: none;
    }
    .header-menu li:last-child {
      display: block;
      position: absolute;
      right: 20px;
      top: 1rem;
    }
  }

  //categories on mq
  .categories {
    ul {
      display: none;
    }
    h2 {
      display: block;
    }
  }

  //featured-items-grid on mq
  .grid-featured {
    display: block;
    .item {
      margin-top: 20px;
    }
  }
}
