// Font-Families import
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

//Import presets
@import 'colors';
@import 'margins';
@import 'fonts&typography';
//clear defaults
* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Sans-serif';
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: $dark-color-lighten;
  height: 3rem;

  #logo-tree {
    font-size: $biggest-font-size;
    color: $logo-color;
  }
  h2 {
    font-family: $logo-font;
    font-size: $biggest-font-size;
    color: $dark-color;
  }

  a {
    color: $dark-color;
    &:hover {
      color: $logo-color;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text:not(:nth-child(3)) {
    margin-right: 20px;
  }

  .right li:last-child {
    display: none;
    font-size: $biggest-font-size;
  }
}
//categories section
nav.categories {
  background-color: $logo-color;
  display: flex;
  position: fixed;
  top: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  a {
    color: $dark-color-lighten;
    &:hover {
      color: $dark-color;
    }
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h2 {
    display: none;
  }
}

//footer section
.footer {
  color: $dark-color-lighten;
  background-color: $logo-color;
  font-size: $small-font-size;
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;

    a {
      font-size: $bigger-font-size;
      color: $dark-color-lighten;
    }

    a:hover {
      color: $dark-color;
    }
    li:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.hero {
  height: 300px;
  position: relative;
  top: 6rem;
  margin-bottom: 6rem;
  background: linear-gradient(0deg rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('/Wantsome-Final-Project/assets/smaller-featured-bg.jpg') no-repeat;
  background-size: cover;
  background-position: 40% 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-family: $logo-font;
    font-size: 2.4rem;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-color-lighten;
    height: 50%;
    width: 50%;
    border: 2px solid $dark-color-lighten;
    border-radius: 15px;
  }
}

//featured products section
.featured-products {
  margin: 40px 0;
}
.grid-featured {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  background: linear-gradient(0deg rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url('/Wantsome-Final-Project/assets/smaller-featured-bg.jpg') center
      no-repeat;
  background-size: cover;
  // background-color: $dark-color-lighten;
}

.item {
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: $dark-color-lighten;
}

//media query for mobile
@media screen and(max-width:768px) {
  //header on mq
  header {
    .right li {
      display: none;
    }

    .right li:last-child {
      display: block;
    }
  }
  //categories on mq
  nav.categories {
    ul {
      display: none;
    }
    h2 {
      display: block;
    }
  }

  //featured-items-grid on mq
  .grid-featured {
    display: block;
    .item {
      margin-top: 20px;
    }
  }
}
